form{
    height: 30px;
  }
  .icone{
    margin-right: 10px;
  }
  form input{
    border: none;
    background-color: #eaeaea;
    font-size: 11px;
    &::placeholder{
        font-size: 13px;
        color: black;
    }
  }
  