/* Btn explorer ACCUEIL */
.btn{
    @include cursor;
    @include box-degrade($gradient);
    text-align: center;
    color: white;
    padding: 15px 20px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: scale(1);
    transition: transform 400ms;
    &:hover{
        transform: scale(1.10);
        @include hoveropacity 
    }
}