$color-primary: #ff79da;
$color-secondary: #9356dc;
$color-tertiary: #99E2D0;
$color-white: #ffffff;
$color-black: #000000;
$gradient: #ff79da #9356dc;
$breakpoints: (
  tablette: 769px, desktop: 992px
  );


/*COLOR BACKGROUND*/

$background-grey: #f6f6f6 ;
$background-white: #ffffff;